<form action="<%= user_objective_url(user,objective) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="put">

  <input type="hidden" name="objective[completed]" value="true">

  <input type="submit" value="Complete Goal">
</form>

