<form action="<%= user_objective_url(user,objective) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="put">
  <label for="goal">Goal</label><input type="text" name="objective[body]" id="goal" value="<%= objective.body %>">


  <br>
  <input type="submit" value="Update Goal">
</form>

