<h1><%= @user.username %></h1>

<form action="<%= user_objectives_url(@user) %>" method="POST">

  <label>
    New Goal
    <input type="text" name="objective[body]">
  </label>

  <input type="submit" value="Create Goal">

</form>

<% if @user.has_objectives? %>
  <ul>
    <% @user.objectives.each do |objective| %>
      <li><%= objective.body %><%= ": Completed" if objective.completed? %></li>
      <% if current_user == @user || current_user.type == "Admin" %>
        <% unless objective.completed %>
          <%= render "objectives/edit", user: @user, objective: objective %>
          <%= render "objectives/complete", user: @user, objective: objective %>
        <% end %>

        <%= button_to "Delete Goal", user_objective_url(@user,objective), method: :delete %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>
    No goals
  </p>
<% end %>