<!DOCTYPE html>
<html>
<head>
  <title>Goal</title>
</head>
<body>

  <% if logged_in? %>
    <%= current_user.username %>
    <%= button_to "Sign Out", session_url, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
  <% end %>

  <%= flash[:errors]%>
  <%= yield %>

</body>
</html>
